DOMAIN=https://afterlifeapi.azurewebsites.net
REACT_APP_HOST_URL=$DOMAIN
REACT_APP_NODE_API='http://127.0.0.1:3001'
# REACT_APP_NODE_API='https://139.144.194.68:3001/api/'
# REACT_APP_NODE_ENV='development'
# REACT_APP_NODE_ENV='production'